/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Bodoni+Moda:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-bodoni {
  font-family: 'Bodoni Moda', serif;
}

.unicorn-studio-embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

